{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
   
</head>

<body>
    <div class="page-header">
        <h1><a href="/">Django Blog</a></h1>
</div>
<a href="{% url 'post_new' %}" class="top-menu"><span><img src="{% static 'img/g3053.png'%}"></span></a>

<div class="row">&nbsp;</div>
    <div class="content container">
        <div class="row">
            <div class="column small-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
</body>

</html>

